@import "tailwindcss";

@theme {
  --color-primary: #0047FF;
  --color-bttr-black: #000000;
  --color-bttr-grey: #1A1A1A;
  --color-bttr-border: #222222;

  --font-display: "Inter", "sans-serif";
  --font-serif: "Playfair Display", "serif";
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .masonry-grid {
    column-count: 2;
    column-gap: 5rem;
  }

  @media (min-width: 1536px) {
    .masonry-grid {
      column-count: 2;
    }
  }

  .masonry-item {
    break-inside: avoid;
    margin-bottom: 5rem;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .text-huge {
    font-size: clamp(4rem, 12vw, 10rem);
    line-height: 0.85;
  }

  .vertical-text {
    writing-mode: vertical-rl;
  }

  .chat-line {
    border-bottom: 1px solid #1a1a1a;
  }

  .dashed-border {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='1' stroke-dasharray='8%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }
}

@layer components {
  .sidebar-item:hover .material-symbols-outlined {
    transform: scale(1.15);
  }

  .mono-img {
    filter: grayscale(100%) contrast(110%);
  }
}